<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js study</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="todo_app">
      <h2 v-html="todoTitle"></h2>
      <p>
        {{ reversedMessage }}
      </p>
      <!-- formのsubmitイベントによるページreloadを防ぐため、 submitイベントを無効にする-->
      <form v-on:submit.prevent>
        <input type="text" v-model="newItem">
        <button v-on:click="addItem">
          Add
        </button>
      </form>
      <ul v-cloak>
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <!-- v-bind完全構文 -->
          <!-- <span v-bind:class="{ done: todo.isDone }">{{ todo.item | readMore(20, '...')}}</span> -->
          <!-- v-bind省略記法 -->
          <span :class="{ done: todo.isDone }">{{ todo.item | readMore(20, '...')}}</span>
          <button v-on:click="deleteItem(index)">Delete</button>
        </li>
      </ul>
      <!-- デバッグ用 -->
      <!-- <pre>{{ $data }}</pre> -->
    </div>

    <div id="bitcoin_app">
      <h2>
        Bitcoin Price
      </h2>
      <section v-if="hasError">
        An Error has occurred.
      </section>
      <section v-else>
        <div v-if="loading">
          Loading...
        </div>
        <div v-else>
          <ul v-cloak>
            <li v-for="(rate, currency) in bpi">
              {{ currency }} : {{ rate.rate_float | currencyDecimal }} 
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div id="tax_app">
      <h2>
        Tax calculation
      </h2>
      <p>
        base price: <input type="text" v-model ="basePrice">
      </p>
      <p>
        tax included price: <input type="text" v-model="taxIncludedPrice">
      </p>
    </div>

    <div id="qiita_search">
      <h2>
        Qiita Search
      </h2>
      <p>
        <input type="text" v-model="keyword">
      </p>
      <p>
        {{ message }}
      </p>
      <ul>
        <li v-for="item in items">
          <a v-bind:href="item.url" target="_blank">{{ item.title }}</a> likes: {{ item.likes_count }}
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- HTTP client -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
